<% provide(:title, '') %>
<div class="center hero-unit">
  <h1>Renting a house is made easy with Efiewura.</h1>

  <h2>
    Get direct contact with Landlords without any middlemen.
  </h2>
    <%= link_to "Sign up now!", 'signup_path', class: "btn btn-large btn-primary" %>
</div>


