<% provide(:title, '') %>
<div class="center hero-unit">
  <h1>Renting a house is made easy with Efiewura.</h1>

  <h2>
    Get direct contact with Landlords without any middleman.
  </h2>
  <form class="form-search">
    <input type="text" placeholder="Enter preferred location" class="input-medium search-query">
    <button type="submit" class="btn, btn-small btn-info">Search for a house</button>
  </form>
</div>


