<% provide(:title, 'How it works') %>
<h1>How it works</h1>
<p>
  <ol>
    <li>Landlords list their properties online</li>
    <li>Tenants search the property listing for a house to rent and makes a choice</li>
    <li>Landlords select which tenant to rent the house to based on available tenant profile</li>
  </ol>
</p>